# DriverCam settings for Centipede
# Part.<name> = move x y z   turn x y z   size  (cockpit part positions)
Driver.OffsetX = 0
Driver.OffsetY = 0
Driver.OffsetZ = 0
Driver.Pitch = 3
Driver.LookIntoTurn = 6
Driver.HeadFollowsShake = 1
View.Fov = 60
View.FovSpeedBoost = 8
View.SteerAngle = 120
View.CockpitScale = 1
View.InteriorBrightness = 0.35
View.OutlineThickness = 1
View.ShowCockpit = true
View.HideCarBody = false
View.CockpitOutline = true
View.MirrorEnabled = true
View.MirrorOffsetX = 0
View.MirrorOffsetY = 0
View.MirrorOffsetZ = 0
View.MirrorYaw = 0
View.MirrorPitch = 2
View.MirrorFov = 16
MirrorLeft.Enabled = true
MirrorLeft.OffsetX = 0
MirrorLeft.OffsetY = 0
MirrorLeft.OffsetZ = 0
MirrorLeft.Yaw = 12
MirrorLeft.Pitch = 3
MirrorLeft.Fov = 24
MirrorRight.Enabled = true
MirrorRight.OffsetX = 0
MirrorRight.OffsetY = 0
MirrorRight.OffsetZ = 0
MirrorRight.Yaw = -12
MirrorRight.Pitch = 3
MirrorRight.Fov = 24
